

/************ CONTENT MOBILE **************/

.h1Content{
	padding-top : 100px;
	text-align:center;
	margin-bottom:20px;
}

em {
	color:#06B9FE;
}

.font-h1{font-family:'Anton', sans-serif;}

.descriptionContent{text-align:center;}

.game {
	font-family:"Gamer";
	font-size:4em;
}

.article {height: 100%;}

.articleH21, .articleH22{
	font-weight : normal;
}

.articleDivImg{
    width: 100%;
}

.articleDivTextDiv{
	margin : inherit;
}

.articleDivTextDiv4{
    justify-content: space-around;
    align-items: left;
}

@font-face {
    font-family:"Gamer";
    src: url('Gamer.eot');
    src: url("../font/Gamer.ttf") format("truetype"),
		url("Gamer.eot?#iefix") format("embedded-opentype"),
        url("Gamer.woff2") format("woff2"),
        url("Gamer.woff") format("woff"),
        url("Gamer.svg#Gamer") format("svg");
    font-weight: 500;
    font-style: normal;
}