h2 {	
	margin-top: 30px;
	padding: 50px;
}

.titreMonCompte{
	padding-top:100px;
	text-align:center;
	font-size: 2em;
}
.infoPerso{
	margin-left: 20px;
	font-size: 1.1em;
	padding-bottom: 40px;
}
#liste{
	background-color:#707070;
	width:95%;
	color: white;
	height:50px;
	line-height: 50px;
	border-radius: 10px;
	vertical-align:middle;
	cursor:pointer;
}

.fas{
	color:#FFD020;
	font-size: 1.5em;
	vertical-align:middle;
	cursor:pointer;
	margin-left:5px;
}