/***reset**************************************/

*{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style-type:none;
	font-family:arial, sans-serif;
}

/**cyan: hexa: #00FFFF  rgb: rgb(0,255,255)
Orange: hexa: #FFA500 rgb: rgb(255,165,0)




référencement:


    - Les balises html (title, meta description, niveaux de titres Hn, attribut alt pour les images…)
    - Les rich snippets (extraits enrichis)
    - La structure des URLs
    - Les temps de chargement
    - Le maillage interne
    - Les fichiers robots.txt et sitemap
    - La pertinence des mots-clés
    - Le placement des mots-clés dans les contenus et leur densité
    - Le champ sémantique autour des mots-clés
    - La qualité et l’originalité du contenu
    - L’aspect mobile friendly – Responsive**/
/**/

@font-face{
    font-family:"gamer";
    src : url("./police/Gamer2.ttf") format("truetype");
}


.game {
	font-family:"gamer";
	font-size:4em;
}

h2 {
	font-family: 'Orbitron', sans-serif;
}

/* header menu mobile*/

.navbar{
	position : fixed;
	z-index : 100;
	width : 100%;
}

#navbarSupportedContent{
	margin-top : 10px;
}

.nav-item{
	border-top : 1px solid orange;
}

/* fin header mobile*/

/* header menu pc */

.nav-item{
	border-top : 1px solid orange;
}

#headerRecherche input{
	display : none;
}

/* fin header menu pc */

@media (min-width:1201px){
	
	.nav-item{
		border : inherit;
		margin-left : 10%;
	}

	#navbarSupportedContent{
		margin-top : inherit;
	}
	
	#headerRecherche{
		position : absolute;
		margin-left : 60%;
	}
	
	#headerRecherche input{
		display : inline;
	}
	
	.fa-shopping-bag{
		position : absolute;
		margin-left : 95%;
	}
	
	.fa-user{
		position : absolute;
		margin-left : 90%;
	}
	
}

/************ CONTENT MOBILE **************/
.justify {
	justify-content:center;
}

.content{
	text-align:center;
	/* border: solid 1px; */
}

.article{
	border-bottom: solid 1px;
	padding:2%;
	margin:3%;
	height: 200px;
}
.articleContent {
	display:flex;
	flex-direction:row;
	height:100%;
}

.articleDivImg {
	width:30%;
	height:100%;
	display:flex;
	align-items:center;
}
.articleDivText {
	width:70%;
	height:100%;
	display:flex;
	flex-direction:column;
}
.articleImg{
    height: auto;
    width: 100%;
	max-height:100%;
}
.articleH2 {
	font-family: sans-serif;
    font-weight: bold;
    color: #ffb100;
	font-size:1.5em;
}
.articleConsole {
	font-style:italic;
}
.articleAncienPrix {
    font-style: italic;
    text-decoration: line-through;
    margin-right: 15%;
    font-weight: bold;
    font-size: 1.1em;
	text-decoration-color: red;
}
.articleNouveauPrix {
    text-decoration: none;
    font-size: 1.8em;
    color: #00abff;
    font-weight: bold;
}
.articleButton {
    width: 50%;
    height: 50px;
    border: solid 2px black;
    background: none;
    border-radius: 40px;
	transition: background .5s;
}
.articleButton:hover {
    transition:all .5s;
	background:#ffb100;
	color:white;
}
.articleA {
	color: black;
    font-weight: bold;
    font-style: italic;
}
.articleButton:hover .articleA{
	transition:all .5s;
	color:white;
	text-decoration:none;
}
.articleDivTextDiv {
	display:flex;
	height:25%;
	margin-left:3%;
}
.articleDivTextDiv2 {
	display:flex;
	height:25%;
	margin-left:3%;
	font-weight:bold;
}
.articleDivTextDiv3 {
	display:flex;
	height:25%;
	justify-content: flex-end;
}
.articleDivTextDiv4 {
	display:flex;
	height:25%;
	justify-content: flex-end;
}

/* header */

/* header menu */
