.hautDocument{
	padding-top: 100px;
}

.containerConsole {
	margin-top:0;
}

.textePresentation p{
	font-size: 1.3em;
	padding: 2%;
} @media(min-width: 768px){
	.textePresentation p{
		font-size: 1em;
	}
} @media(min-width: 992px){
	.textePresentation p{
		font-size: 1.25em;
	}
} @media(min-width: 1200px){
	.textePresentation p{
		font-size: 1.5em;
	}
}

.h1console {
	margin-top: 100px;
}

h2{
	padding-top: 30px;
}

.consoleCenter {
	align-items:center;
	
}
.consoleImg {
	max-width: 500px;
	width: 100%;
	padding: 2%;
}